*.wav
# Byte-compiled files
__pycache__/
*.py[cod]

.p
.DS_Store
*.so
# Distribution / packaging
.Python
env/
vс/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache

# Logs
*.log

# Data files
voice_cloning/speaker_encoder/data/train
voice_cloning/speaker_encoder/data/test

*.csv
*.tsv
*.json

text_encoder_dataset
logs
voice_cloning/Grad-TTS/checkpts/trained_decoder.pt
voice_cloning/Grad-TTS/checkpts/hifigan.pt
venv

# Model files
*.h5
*.pt
*.pth

# Temporary files
*.tmp
*.temp
# End Generation Here
